.auth-view .v-text-field--outline .v-input__slot,
.auth-view .v-text-field--outline .v-input__slot:hover,
.auth-view .v-text-field--outline:not(.v-input--is-focused) .v-input__slot:hover {
  min-height: auto;
  border-radius: 0px;
}

.auth-view .v-input:not(.v-input--is-disabled) input,
.auth-view .v-input:not(.v-input--is-disabled) textarea {
  color: white;
}

.auth-view .v-text-field--outline input {
  margin-top: auto;
}

.auth-view .v-text-field.v-text-field--enclosed .v-input__append-inner,
.auth-view .v-text-field.v-text-field--enclosed .v-input__append-outer {
  margin-top: 4px;
}
